@import "../../../variables.scss";
.todo {
  background: #fff;
  color: gray;
  .todoHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0.625rem;
    h2 {
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .content {
    padding: 20px 10px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        font-size: 0.875rem;
        margin-bottom: 10px;
        padding: 5px;
        background: $lightGray;
        flex: 0 0 100%;
        &.selected {
          text-decoration: line-through;
        }
      }
    }
  }
}
