@import "../../variables.scss";
.dashboard {
  padding: 1rem;
  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .bottomBoxes {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 5px;
    .left {
      flex: 0 0 100%;
      @media (min-width: $screen-extra-large) {
        flex: 0 0 30%;
      }
    }
    .right {
      flex: 0 0 100%;
      margin-top: 10px;
      @media (min-width: $screen-extra-large) {
        margin-top: 0;
        flex: 0 0 70%;
      }
      display: flex;
      flex-wrap: wrap;
      .projectList {
        flex: 0 0 100%;
        padding: 0;

        @media (min-width: $screen-extra-large) {
          flex: 0 0 50%;
          padding: 0 10px 0 20px;
        }
      }
      .todoList {
        flex: 0 0 100%;
        padding: 0;
        margin-top: 10px;
        @media (min-width: $screen-extra-large) {
          flex: 0 0 50%;
          padding: 0 10px 0 20px;
          margin-top: 0;
        }
      }
      .worldwide {
        margin-top: 10px;
        flex: 0 0 100%;
        padding: 0;
        @media (min-width: $screen-extra-large) {
          padding: 0 10px 0 20px;
        }
      }
    }
  }
}
