@import "../../../variables.scss";
.list {
  color: grey;
  background: #fff;
  .listHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0.625rem;
    h2 {
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .content {
    padding: 20px 10px;
    // ul {
    //   display: flex;
    //   li {
    //     flex: 0 0 25%;
    //     padding-left: 5px;
    //     border-bottom: 1px solid $lightGray;
    //   }
    // }
    // ul.header {
    //   li {
    //     font-weight: bold;
    //   }
    // }
    // ul.data {
    //   li {
    //     padding: 10px 0 10px 5px;
    //     font-size: 0.875rem;
    //     &.value {
    //       color: $accept;
    //     }
    //     span.clock {
    //       margin-right: 5px;
    //     }
    //     span.arrow {
    //       margin-left: 5px;
    //     }
    //   }
    // }
  }
}
