.world {
  color: gray;
  background: #fff;
  .worldHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0.625rem;
    h2 {
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .contentWrapper {
    display: flex;
    .leftSide {
      flex: 0 0 50%;
    }
    .rightSide {
      flex: 0 0 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .content {
      padding: 20px 10px;
    }
  }
}
