@import "../../../variables.scss";
.progressBar {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  background: $lightGray;
  .bar {
    position: absolute;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 8px;
    top: 0;
    left: 0;
    background: $accept;
  }
}
