@import "../../../variables.scss";
ul {
  display: flex;
  li {
    flex: 0 0 25%;
    padding-left: 5px;
    border-bottom: 1px solid $lightGray;
  }
}
ul.header {
  li {
    font-weight: bold;
  }
}
ul.data {
  li {
    padding: 10px 0 10px 5px;
    font-size: 0.875rem;
    &.value {
      color: $accept;
      &.empty {
        color: #fff;
        background: $accept;
        text-align: center;
        border-radius: 4px;
      }
    }
    span.clock {
      margin-right: 5px;
    }
    span.arrow {
      margin-left: 5px;
    }
  }
}
