@import "../node_modules/normalize.css/normalize.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: #eee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  position: relative;
  .body {
    margin-left: 250px;
  }
  aside {
    width: 250px;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #2f4050;
  }
}
