// screen break points
$screen-small: 540px;
$screen-medium: 720px;
$screen-large: 992px;
$screen-extra-large: 1200px;

//colors
$regular: #1c1fc6;
$info: #23c5c8;
$warning: #f00;
$accept: #1ab394;
$lightGray: #f5f5f5;
